**/depend
**/obj
**/.sconsign.dblite
**/__pycache__
**/*pyc
**/*a.out*
**/go.mod
**/go.sum
**/*.log
**/*build
**/core*
**/*.a
**/*.so
**/*.class
**/*.zip
python/to_class_view/*.txt
**/*.mp4
**/*.avi
**/*.ogg
**/*.mp3
**/*.mov
**/*.wav
**/*.txt.user
